body{
    background-color: #f2f2f2;
}
.card{
    display: none;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    min-height: 100px;
    text-align: center;
}
th{
    border: 2px solid black;
    font-weight: bold;
}
tr{
    
}

td{
    border: 1px solid black;
    font-family: sans-serif;
    background-color: #ffe6ff;
    color: #cc0099;
}
.classTextarea{
    margin-bottom: 50px;
    color: #ff66ff;
}
.classLabel{
    color: #66ff66;
}

.buttonAdd{
    background-color: #FFE4E1;
    border: 2px solid #D8BFD8;
    border-radius: 10px;
    padding: 5px;
}

.visible{
    display: block;
}

.unvisible{
    display: none;
}

.navContent{
    background-color: #FFE4E1;
}